
<div class="container">
  <div class="d-flex bg-secondary rounded p-2">
    <h5 *ngIf="!isEditing" class="mt-auto white ml-2 text-white">Nova Cidade</h5>
    <h5 *ngIf="isEditing" class="mt-auto white ml-2 text-white">Edição de Cidade</h5>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
      <form [formGroup]="cidadeForm">
        <div class="form-row">
          <div class="form-group mr-4">
            <label for="nome">Nome</label>
            <input formControlName="nome" type="text" class="form-control" id="nome">    
          </div>
          <div class="form-group">
              <label for="nome">Estado</label>
              <input formControlName="estado" maxlength="2" type="text" class="form-control" id="estado">           
            </div>
          </div>
          <div class="form-row">
            <div class="form-group mr-4">
                <label for="nome">País</label>
                <input formControlName="pais" type="text" class="form-control" id="pais">           
              </div>
              <div class="form-group">
                  <label for="nome">População</label>
                  <input formControlName="populacao" type="number" class="form-control" id="populacao">           
                </div>
            </div>
          <button type="submit" (click)="$onSave()" class="btn btn-primary float-right">Salvar</button>
          <button type="submit" (click)="$onDelete()" *ngIf="isEditing" class="btn btn-danger float-right mr-2">Excluir</button>
        </form>
  </div>
</div>