<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">PSII - Project</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{ exact: true }" routerLink="./">Home</a>
      <a class="nav-item nav-link" [routerLinkActive]="['active']" routerLink="/cadastro/time">Time</a>      
      <a class="nav-item nav-link" [routerLinkActive]="['active']" routerLink="/cadastro/carro">Carro</a>
      <a class="nav-item nav-link" [routerLinkActive]="['active']" routerLink="/cadastro/cidade">Cidade</a>
    </div>
  </div>
</nav>